<nav class="white aa-nav z-depth-1">
  <div class="nav-wrapper container">
    <a href="{{ "/" | relLangURL }}" class="brand-logo aa-brand">
      <img src="{{ .Site.Params.brand.logo }}" alt="" width="30" height="30" class="aa-brand__logo" />
      <span class="aa-brand__name">{{ .Site.Params.brand.name }}</span>
    </a>

    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down aa-navlinks">
      {{ range .Site.Menus.main }}
        {{ $href := "" }}
{{ with .Page }}
  {{ $href = .RelPermalink }}
{{ else }}
  {{ $href = (.URL | relLangURL) }}
{{ end }}
<li><a href="{{ $href }}">{{ .Name }}</a></li>
      {{ end }}
      <li><a class="btn aa-btn-primary" href="https://adeptusacademicus.infinityfree.me/wp-login.php?redirect_to=https%3A%2F%2Fadeptusacademicus.infinityfree.me%2Fmy-account%2F">{{ i18n "nav_login" }}</a></li>
      <li class="aa-langslot"><div class="aa-langswitch-wrap">{{ partial "langswitch.html" . }}</div></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-nav">
  <li class="aa-sidenav-head">
    <div class="aa-sidenav-brand">
      <img src="{{ .Site.Params.brand.logo }}" alt="" width="28" height="28" />
      <span>{{ .Site.Params.brand.name }}</span>
    </div>
    <div style="margin-top:10px">{{ partial "langswitch.html" . }}</div>
  </li>
  <li><div class="divider"></div></li>

  {{ range .Site.Menus.main }}
    {{ $href := "" }}
{{ with .Page }}
  {{ $href = .RelPermalink }}
{{ else }}
  {{ $href = (.URL | relLangURL) }}
{{ end }}
<li><a href="{{ $href }}">{{ .Name }}</a></li>
  {{ end }}
  <li><a href="{{ "/ki-hinweis/" | relLangURL }}">{{ i18n "nav_ai" }}</a></li>
  <li><a href="{{ "/betreuer/" | relLangURL }}">{{ i18n "nav_apply" }}</a></li>
  <li><a class="btn aa-btn-primary" style="margin: 12px 16px" href="https://adeptusacademicus.infinityfree.me/wp-login.php?redirect_to=https%3A%2F%2Fadeptusacademicus.infinityfree.me%2Fmy-account%2F">{{ i18n "nav_login" }}</a></li>
</ul>
